.col.md.6 {
  width: 50%;
}

.select-subnet {
  text-align: center;
  border: solid;
}

.set-table {
  width: 100%;
  height: 10%;
  text-align: center;

}

.set-result-table {
  width: 100%;
  text-align: center;
}

.btn-set {
  margin-left: 45%;
  margin-top: 10px;
}

.panel-heading {
  text-align: center;
  font-weight: bold;
}

.set-body {
  background-color: #e1ffe6;
}

.panel-body{
  width: 100%;
}

.set-possible {
  position: relative;
  bottom:86px;
  width: 100%;
  text-align: center;
}
