.col.md.6 {
  width: 50%;
}

.select-subnet {
  text-align: center;
  border: solid;

}

.set-table {
  text-align: center;
  width: 25%;
}

.set-result-table {
  width: 100%;
  text-align: center;
  ta

}
